

<div class="container">
    <section class="containerInfo">
     
              
                <img src="imagenesPrueba.png" alt="" class="imagenTienda">
            </section>
  <section class="containerContacto">
  
    <div class="posiImgInfo">

   
     <div class="containerInfContacto">
       
       <div class="boxInfG">
        <div class="imgPhone">
            <img src="caricatura.png" alt="" class="caricaturaDog">
        </div>
        
        <legend><strong>¿NECESITÁS MÁS INFORMACIÓN?</strong></legend>
        <h3>CONTACTÁ CON NOSOTROS</h3>
        <div class="containerGnete">

       
        <div class="nomEmail"> 
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre">
            <label for="email">Email</label>
            <input type="email">
        </div>
       <div class="telEmpresa">
        <label for="telefono">Teléfono</label>
        <input type="tel">
        <label for="empresa">Empresa</label>
        <input type="text" name="" id="">
       </div>
    </div>
    <div class="containerTareaButton">
        <label for="mensaje">Mensaje</label>
        <textarea name="mensaje" id="mensaje"></textarea>
        <button>Enviar</button></div>
    </div>
       
   

    </div>
</div>

  </section>
   
</div>
