
<nav class="navbarFondo">
    <div class="containerNabvar">
     <div class="logo">
        <img class="logoEmpresa"  src="LosAmigosFiel.png" alt="logo de la empresa" [routerLink]="['/']">
     </div>
     <div class="boxNavbar">
       <ul>
        <li>  <a href="">Home</a></li>
        <li> <a [routerLink]="['/quieneSomos']">Quienes somos</a></li>
        <li> <a [routerLink]="['/inventario']">Inventario</a></li>
        <li> <a [routerLink]="['/contactar']">Contacto</a></li>
        <li><a [routerLink]="['/agregarProductos']">Agregar Producto</a></li>
        <li> <a [routerLink]="['/registrarse']" >Login/Register</a></li>

       </ul>
      
       
      
       
     </div>

    </div>
</nav>