<div class="container">
 <section class="containerTexto" >
    <div class="boxTexto">
        <p>
            En <strong>Amigo Fiel Pet Shop</strong> , nos apasiona mejorar la calidad de vida de tus mascotas. Somos un comercio dedicado a ofrecer alimentos balanceados, snacks y accesorios de alta calidad para perros, gatos y otras mascotas, todo lo que necesitan para estar felices y saludables.
    
    Con un enfoque en el bienestar animal, seleccionamos cuidadosamente nuestros productos para garantizar que cumplan con los estándares más altos de nutrición y comodidad. Además, nuestro equipo está siempre dispuesto a brindarte asesoramiento personalizado, porque sabemos que cada mascota es única y merece lo mejor.
    
    En <strong>Amigo Fiel </strong> , creemos que las mascotas son más que compañeros: son parte de la familia. Por eso, trabajamos cada día para ser tu tienda de confianza, ayudándote a cuidar a esos amigos que llenan de amor tu hogar.
    
    ¡Visítanos y descubre por qué somos la elección ideal para ti y tu fiel compañero!
        </p>
     </div>
 </section>
 <section>
  <img src="amigoFiel.PNG" alt="" class="imgFachada">
 </section>

</div>
