<footer class="containerFooter">
<div class="containerContenido">
 <div class="infoFooter">
    <img src="amigoPG.png" alt="" class="logoFooter">
    <p>&copy; 2024 El amigo Fiel </p>
    <a href="">Legal</a>
    <p>Politica de privacidad</p>
 </div>
 
 <div class="containerRedes">
    <h3>VISITA NUESTRAS REDES</h3>
   <div class="containerlogRedes">
    <img src="logot.png" alt="" class="redes">
    <img src="insta.png" alt="" class="redes">
    <img src="faces.png" alt="" class="redes">
   </div>
    
 </div>
</div>


</footer>